<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../core-icons/core-icons.html">
<link rel="import" href="../core-icons/av-icons.html">
<link rel="import" href="../paper-fab/paper-fab.html">
<link rel="import" href="../paper-toast/paper-toast.html">

<polymer-element name="app-main">

  <template>
    <div vertical layout fit>
      <template repeat="{{obj in syncObjectList}}"></template>
    </div>
    <paper-dialog id="auth-request-dialog" heading="Authorization Required" transition="paper-dialog-transition-bottom" backdrop autoclosedisabled>
      <p>This app requires access to your Google Drive to allow you to sync files and folders.</p>
      <paper-button affirmitive on-tap="{{ getInteractiveAuth }}">
        authorize
      </paper-button>
    </paper-dialog>
    <sync-object-options id="options" syncobjectlist selected>
    </sync-object-options>
    <drive-picker id="picker" selected>
    </drive-picker>
    <paper-fab icon="add" on-tap="{{ addSyncEntry }}">
    </paper-fab>
    <paper-toast id="location-toast" touch-action="none" class="core-transition core-transition-bottom">
      Sync location not set. See settings.
    </paper-toast>
    <style>    
      :host {
        background-color: white;
      }
      paper-fab {
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
      paper-toast {
        width: 150px;
      }
    </style>
  </template>

  <script>

    Polymer({
      
    });

  </script>

</polymer-element>
